.hand-container
  .card
    width 250px
    height 250px
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    padding 24px
    position relative

    .chip
      position absolute

      &:first-child
        left 50%
        top 24px
        margin-left -40px
